<!DOCTYPE html>
<html>
<head>
  <title>Usuario al Azar</title>
</head>
<body>
  <h1>Detalles del usuario al azar:</h1>
  <p>Nombre: {{user.nombre}}</p>
  <p>Apellido: {{user.apellido}}</p>
  <p>Edad: {{user.edad}}</p>
  <p>Correo: {{user.correo}}</p>
  <p>Teléfono: {{user.telefono}}</p>
</body>
</html>
